header {
    background-color: #ffffff;
    border-color: #dfdfdf;
    width: 100%;
    font-size: 36px;
    font-weight:700;
    padding-bottom:50px;
    font-family: "sans-serif";
    height: 26px;
}

ul {
    list-style-type:none;
    background-color: #ffffff;
}

li {
    float:right;
    padding:20px;
    font-weight:100;
    margin-top:-50px;
}

li a {
    display:block;
    color:#777777;
    text-align:center;
    font-family:"arial";
    font-size: 16px;
    text-decoration:none;
}

#about {
    border-right: 1px solid #eee;
    padding-right:30px;
}

#portfolio {
    border-right: 1px solid #eee;
    padding-right:30px;
}

.head1 {
    border-bottom: 2px solid #ddd;
}

body {
    background-image: url("../images/leaves-pattern.png");
    font-family: "Arial";
}

.name {
    background-color:#4aaaa5;
    width:250px;
    text-align:center;
    margin-left:10%;
    font-style: "sans-serif";
    padding: 20px;
}

.content {
    background-color: #ffffff;
    border-color: #eee;
    padding: 25px;
    margin-left:10%;
    margin-top:100px;
    line-height: 25px;
    word-spacing: 5px;
    width:960px;
}

h1 {
    font-size: 32px;
    padding: 30px 0px;
    border-style: solid;
    border-bottom: 3px solid #999;
    font-weight:700;
}

.resize {
    width: 100px;
    height: auto;
    float:left;
    padding-right: 25px;
}

.clear {
    display: block;
    clear: both;
}

footer {
    color: #ffffff;
    background-color: #666666;
    text-align: center;
    padding-top: 30px;
    padding-bottom:10px;
    margin-top:50px;
    border-top: 5px solid #4aaaa5;
    font-size:10px;
}

header, nav, p, footer {
    color: #777777;
} 

h1, h3 {
    color: #4aaaa5;
    font-family: "Georgia";
}